<footer id="foot">
  <div>
    me @ <a href="https://github.com/sandrolain">github</a> - <a href="http://it.linkedin.com/in/sandrolain">linkedin</a> - <a href="http://twitter.com/sandro_lain/">twitter</a>
  </div>
  <div>
    Made with <a href="https://nextjs.org/">Next.js</a> on <a href="https://www.netlify.com/">Netlify</a>
  </div>
</footer>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-522672-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){ dataLayer.push(arguments);}
gtag("js", new Date());
gtag("config", "UA-522672-3");
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Fira+Code:wght@400;700&display=swap');

  :root {
    --sans-serif-font: 'Anonymous Pro', monospace;
    --serif-font: 'Fira Code', monospace;
    --bg-color-blacky: hsl(240, 100%, 5%);
    --bg-color-verydark: hsl(240, 100%, 10%);
    --primary-color: hsl(299, 82%, 70%);
    --primary-color-light: hsl(299, 82%, 80%);
    --primary-color-dark: hsl(299, 82%, 50%);
    --primary-color-sowhite: hsl(299, 82%, 90%);
    --body-padding: 3em;
  }

  html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  html {
    min-height: 100%;
  }

  body {
    font-family: var(--serif-font);
    line-height: 1.8em;
    min-height: 100%;
    background: #000000;
    background-image:
      url(/vaporwave.png),
      linear-gradient(180deg, var(--bg-color-blacky), var(--bg-color-verydark));
    background-size: 100% auto, 100% 100vh;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-blend-mode: screen;
    background-repeat: repeat-x, no-repeat;
  }

  a {
    color: var(--primary-color-sowhite);
  }

  h1 {
    font-family: var(--sans-serif-font);
    color: var(--primary-color-light);
    font-weight: 200;
    font-size: 2.2em;
    margin-top: 1.2em;
    line-height: 1em;
  }

  h2 {
    font-family: var(--sans-serif-font);
    color: var(--primary-color-light);
    font-weight: 400;
    font-size: 1.6em;
    margin-top: 1.2em;
    line-height: 1em;
  }

  h3 {
    font-family: var(--sans-serif-font);
    color: var(--primary-color-dark);
    font-weight: 400;
    font-size: 1.25em;
    margin-top: 1.2em;
    line-height: 1em;
  }

  h4 {
    font-family: var(--sans-serif-font);
    color: var(--primary-color-light);
    font-weight: 400;
    font-size: 1em;
    margin-top: 1.2em;
    line-height: 1em;
  }

  b, strong {
    color: var(--primary-color-dark);
  }

  p code {
    background-color: var(--primary-color-verydark);
    color: var(--primary-color-sowhite);
    padding: 0.1em 0.4em;
    border-radius: 4px;
  }

  .logo::after {
    display: block;
    height: 46px;
    aspect-ratio: 1/1;
    content: '';
    background:  url(/photo.jpg) no-repeat 50% 50%;
    background-size: contain;
    margin: -5px -10px -5px 10px;
  }

  .container {
    padding-top: 10px
  }

  .footer .copyright {
    display: none;
  }

  .post-cover {
    padding: 0;
    border-width: 2px;
    width: 100%;
    height: 320px;
    object-fit: cover;
    vertical-align: top;
    background: #000000;
    border-radius: 4px;
  }

  #foot {
    padding: 2em;
    background: var(--primary-color-verydark-50);
    backdrop-filter: blur(6px);
    line-height: 1em;
    margin: 1em 0;
    color: #FFFFFF;
    display: flex;
    border-radius: 6px;
  }

  @media (max-width: 768px) {
    #foot {
      padding: 1em;
      flex-direction: column;
    }

    #foot div:last-child {
      margin-top: 1em;
    }
  }

  #foot div {
    flex: 1;
    font-size: 0.8em;
    color: var(--primary-color-lighter);
  }

  #foot div:last-child {
    text-align: right;
  }

  #foot a {
    color: inherit;
  }

</style>
