<footer id="foot">
  <div>
    me @ <a href="https://github.com/sandrolain">github</a> - <a href="http://it.linkedin.com/in/sandrolain">linkedin</a> - <a href="http://twitter.com/sandro_lain/">twitter</a>
  </div>
  <div>
    Made with <a href="https://nextjs.org/">Next.js</a> on <a href="https://www.netlify.com/">Netlify</a>
  </div>
</footer>
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QEG0ER6P2J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QEG0ER6P2J');
</script>
<style>
  @import url("/style.css");
</style>
<script type="text/javascript" src="/main.js"></script>
